<html lang="en-gb">
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/appBigScreen.css">

<div id="head">
    <%- include('_head') -%>
    
    <div id ="navigation-elements" >
        <%- include('_header') -%>
    </div>
</div>


<body>
    <h2>Post Feed</h2>

    <% results.forEach(function(post) {%>
        <div id='entire-post' class='responsive'>

            <div id="NameAndDate">
                <p>
                    <br>
                    Posted by: <%= post.postedBy.name %>
                </p>

                <p>on: <%= post.createdAt %>
                </p>
            </div>


            <div id='imageOnly' class='responsive'>
                <img class='responsive' src='<%= post.imageUrl %>'>
            </div>


            <div id='textOfPost'>
                <p>
                    <%= post.message %>
                </p>
            </div>

            <div id="like-and-dislike" class ='responsive'>
                <div id="like" class='likeDislike'>
                    Likes so far:
                    <%= post.likedBy.length %>
                        <form method="post" action='/posts/<%=post.id%>/like/'>
                            <button class="button" type="submit">Like</button>
                        </form>
                </div>
                <div id='dislike' class='likeDislike'>
                    dislikes so far:
                    <%= post.dislikedBy.length %>
                        <form method="post" action='/posts/<%=post.id%>/dislike/'>
                            <button class="button" type="submit">Dislike</button>
                        </form>
                </div>
            </div>

        </div>
        <br>
        <% }); %>

</body>


<footer>
    <%if (next){%>
            <a class='pageButton' href="<%= next %>">Next</a>
            <% } %>

    <%if (previous) { %>
            <a class='pageButton' href="<%= previous %>">Previous</a>
    <% } %>
    <%- include('_footer') -%>
</footer>


</html>