<html lang="en-gb">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/appBigScreen.css">
<%- include('_head') -%>
<div id ="navigation-elements" >
<%- include('_header') -%>
</div>
<body>
<h2>Users</h2>
<ol class="list">
    <% results.forEach(function(user) {%>
        <li>
            <%= user.name %>
            <a class ="user-details" href="/users/<%= user.id %>">More details about user here</a>
            <!-- <div id='imageOnly' class='responsive'>
                <img class='responsive' src='<%= user.profileImageUrl %>'>
            </div> -->
        </li>
    <% }); %>
</ol>

</body>
<footer>
    <%if (next){%>
            <a class="pageButton" href="<%= next %>">Next</a>
                <% } %>
        
     <%if (previous) { %>
                <a class="pageButton" href="<%= previous %>">Previous</a> 
            <% } %>

<%- include('_footer') -%>
</footer>
</html>